<div class="posts" data-postID="{{id}}" style="background-color: #808080;">
    <h1 style="background-color:#63666A;">{{title}}</h1>

    <p>{{text}}</p>
    <div class="created"><a>Created by {{user.name}} on {{format_date date_created}}</a>
    </div>
  </div> <br>
  {{!-- Past Comments --}}
  <div class="comment" style="background-color:#63666A;">
    <h3>Comments</h3>
  </div>
  <!-- Loop over each object in the projects array -->
  {{#each comments as |comment| }}
  <div class="comment" style="background-color: #808080;">
    <div class="content">
      <p class="author">{{user.name}}</p>
      <div class="metadata">
        <span class="date">{{date_created}}</span>
      </div>
      <div class="text" style="background-color:#63666A;">
        {{text}}
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  {{/each}}
  {{!-- Comments section --}}
  {{!-- To add and make comments to a post --}}
  <br>

  <div class="new-comment" style="background-color: #808080;">
    <form>
      <textarea id="comment-input" placeholder="Add Your Comment" value=" "></textarea>
      <div class="btn">
        <input id="submit" type="submit" value="Comment">
      </div>
    </form>
  </div>
</div>
</div>
</div>
<script src="/js/comment.js"></script>