<h1 class="content-head is-center">Welcome, {{name}}!</h1>
<h3>Create a New Blog Post:</h3>
<div class="container text-center">

  <form class="form new-post-form">
    <div class="mb-3 form-group">
      <label for="post-name" class="form-label">Topic</label>
      <input type="text" class="form-control form-input" id="post-name" name="post-name" placeholder="Topic" aria-describedby="post tittle">
    </div>
    <div class="mb-3 form-group">
      <label for="post-desc" class="form-label">Test</label>
      <textarea class="form-control" name="post-desc" id="post-desc"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" id="click">Post it!</button>
  </form>
</div>
<div id="list" class="container text-center">
  {{#if posts.length}}
  <div class="container text-center post-list">
    <h3>View Posts and Comments</h3>

    {{#each posts as |post|}}
    <h3><a href="/post/{{post.id}}">{{post.title}}</a></h3>

    <button id="delButtonHandler" class="btn btn-primary" data-id="{{post.id}}">UPDATE</button>
    <button id="delButtonHandler" class="btn btn-danger" data-id="{{post.id}}">DELETE</button>
    {{/each}}
  </div>
  <script src="/js/profile.js"></script>
  {{/if}}
</div>

<script src="/js/post.js"></script>